<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{{ currentSite.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <link rel="stylesheet" href="/assets/css/app.css">
   
    <body class="relative bg-beige text-burgundy">
        {% block body %}
        {% endblock %}
    </body>
    
</html>
